<html>
    <head>
        <%- include('./partials/head'); %>
        <link rel="stylesheet" type="text/css" href="/style/index2.css">
    </head>
    <body>

        <div class="d-flex fixed-top bg-dark justify-content-center py-3">
            <form class="w-75 mb-0 d-flex justify-content-between">
                <input class="w-100 mx-1 rounded-end form-control" type="text">
                <input class="mx-1 align-self-center" type="image" src="/media/search.png" style="width: 25px; height: 25px;color: #fff;"></input>
            </form>
        </div>

        <%- include('./partials/bootstrapjs'); %>
    </body>
</html>