body {
    padding-top: 10vh;
}


#neighborhoods {
    font-size: 18px;
    width: 15%;
    background-color: #D6E640;
    min-height: 100%;
    border-radius: 0  5px 5px 0;
    visibility: visible;
    padding: 5px;
}

#neighborhoods > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#neighborhoods > ul > li {
    color: #fff;
    margin: 5px;
}

#neighborhoods > ul > li:hover {
    color: rgb(84, 113, 241);
}

#restaurants-list {
    width: 85%;
    position: relative;
    overflow: scroll;
}

#btn-menu {
    visibility: hidden;
}



@media only screen and (max-width: 600px) {

    #btn-menu {
        visibility: visible;
    }
    #neighborhoods {
        font-size: 16px;
        visibility: hidden;
        position: absolute;
        width: 60%;
        z-index: 999;
    }

    #restaurants-list {
        width: 100%;
        position: absolute;
    }

}